* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: Inter, Arial, sans-serif;
  background: #070b16;
  color: white;
  overflow-x: hidden;
}

/* Background */

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background:
    radial-gradient(circle at top left,#4f46e5 0%,transparent 35%),
    radial-gradient(circle at bottom right,#06b6d4 0%,transparent 35%),
    #070b16;

  z-index: -2;
}

/* Navbar */

.navbar{

    width:100%;

    height:80px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 70px;

    backdrop-filter:blur(18px);

    background:rgba(255,255,255,.04);

    border-bottom:1px solid rgba(255,255,255,.08);

}

.logo{

    display:flex;

    align-items:center;

    gap:12px;

    font-size:24px;

    font-weight:700;

    color:#4fd1ff;

}

.menu{

    display:flex;

    gap:40px;

}

.menu a{

    color:white;

    text-decoration:none;

    font-size:17px;

    transition:.3s;

}

.menu a:hover{

    color:#4fd1ff;

}